trunk/Rage.Addservice/Service References/RemoteService/PersistenceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAdvert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advert" nillable="true" type="tns:Advert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvert" nillable="true" type="tns:ArrayOfAdvert" />
  <xs:complexType name="Advert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Attachment_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TweetId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseTwitter" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wall" nillable="true" type="tns:Wall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advert" nillable="true" type="tns:Advert" />
  <xs:complexType name="Wall">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wall" nillable="true" type="tns:Wall" />
  <xs:complexType name="AdvertStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="LikeCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WallId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertStatus" nillable="true" type="tns:AdvertStatus" />
  <xs:complexType name="ArrayOfWall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wall" nillable="true" type="tns:Wall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWall" nillable="true" type="tns:ArrayOfWall" />
</xs:schema>