trunk/UnitTests/Service References/ServiceReference1/PersistenceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Rage.Addservice.Host/PersistenceService/PersistenceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="LoginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="user" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="IsLoggedInResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdverts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetAdvertsResult" nillable="true" type="q6:ArrayOfAdvert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="advId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetAdvertResult" nillable="true" type="q7:Advert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdvert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="advert" nillable="true" type="q8:Advert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAdvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAdvertResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="advId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetAdvertStatusResult" nillable="true" type="q9:AdvertStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetWallsResult" nillable="true" type="q10:ArrayOfWall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="walId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rage.Addservice.Domain.Model" minOccurs="0" name="GetWallResult" nillable="true" type="q11:Wall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>