trunk/Rage.Addservice.Host/Service References/TwitterWS/TwitterWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://domain.adcamptwitter.pk.pl/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax23="http://net.java/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://twitter.ws.server.adcamptwitter.pk.pl" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://twitter.ws.server.adcamptwitter.pk.pl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
      <xs:complexType name="URL">
        <xs:sequence>
          <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="defaultPort" type="xs:int" />
          <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="port" type="xs:int" />
          <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://domain.adcamptwitter.pk.pl/xsd" xmlns:ax24="http://net.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://twitter.ws.server.adcamptwitter.pk.pl">
      <xs:import namespace="http://domain.adcamptwitter.pk.pl/xsd" />
      <xs:import namespace="http://net.java/xsd" />
      <xs:element name="sendMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendMsgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTweetResponseList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTweetResponseListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTweetList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTweetListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTimeline">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTimelineResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubscribeUserList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubscribeUserListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:User" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addImageToTweet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="url" nillable="true" type="ax24:URL" />
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addImageToTweetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.adcamptwitter.pk.pl/xsd">
      <xs:complexType name="User">
        <xs:sequence>
          <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getTweetResponseListRequest">
    <wsdl:part name="parameters" element="ns:getTweetResponseList" />
  </wsdl:message>
  <wsdl:message name="getTweetResponseListResponse">
    <wsdl:part name="parameters" element="ns:getTweetResponseListResponse" />
  </wsdl:message>
  <wsdl:message name="getTweetListRequest">
    <wsdl:part name="parameters" element="ns:getTweetList" />
  </wsdl:message>
  <wsdl:message name="getTweetListResponse">
    <wsdl:part name="parameters" element="ns:getTweetListResponse" />
  </wsdl:message>
  <wsdl:message name="getTimelineRequest">
    <wsdl:part name="parameters" element="ns:getTimeline" />
  </wsdl:message>
  <wsdl:message name="getTimelineResponse">
    <wsdl:part name="parameters" element="ns:getTimelineResponse" />
  </wsdl:message>
  <wsdl:message name="sendMsgRequest">
    <wsdl:part name="parameters" element="ns:sendMsg" />
  </wsdl:message>
  <wsdl:message name="sendMsgResponse">
    <wsdl:part name="parameters" element="ns:sendMsgResponse" />
  </wsdl:message>
  <wsdl:message name="getSubscribeUserListRequest">
    <wsdl:part name="parameters" element="ns:getSubscribeUserList" />
  </wsdl:message>
  <wsdl:message name="getSubscribeUserListResponse">
    <wsdl:part name="parameters" element="ns:getSubscribeUserListResponse" />
  </wsdl:message>
  <wsdl:message name="addImageToTweetRequest">
    <wsdl:part name="parameters" element="ns:addImageToTweet" />
  </wsdl:message>
  <wsdl:message name="addImageToTweetResponse">
    <wsdl:part name="parameters" element="ns:addImageToTweetResponse" />
  </wsdl:message>
  <wsdl:portType name="TwitterWSPortType">
    <wsdl:operation name="getTweetResponseList">
      <wsdl:input wsaw:Action="urn:getTweetResponseList" message="ns:getTweetResponseListRequest" />
      <wsdl:output wsaw:Action="urn:getTweetResponseListResponse" message="ns:getTweetResponseListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTweetList">
      <wsdl:input wsaw:Action="urn:getTweetList" message="ns:getTweetListRequest" />
      <wsdl:output wsaw:Action="urn:getTweetListResponse" message="ns:getTweetListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTimeline">
      <wsdl:input wsaw:Action="urn:getTimeline" message="ns:getTimelineRequest" />
      <wsdl:output wsaw:Action="urn:getTimelineResponse" message="ns:getTimelineResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMsg">
      <wsdl:input wsaw:Action="urn:sendMsg" message="ns:sendMsgRequest" />
      <wsdl:output wsaw:Action="urn:sendMsgResponse" message="ns:sendMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSubscribeUserList">
      <wsdl:input wsaw:Action="urn:getSubscribeUserList" message="ns:getSubscribeUserListRequest" />
      <wsdl:output wsaw:Action="urn:getSubscribeUserListResponse" message="ns:getSubscribeUserListResponse" />
    </wsdl:operation>
    <wsdl:operation name="addImageToTweet">
      <wsdl:input wsaw:Action="urn:addImageToTweet" message="ns:addImageToTweetRequest" />
      <wsdl:output wsaw:Action="urn:addImageToTweetResponse" message="ns:addImageToTweetResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterWSSoap11Binding" type="ns:TwitterWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTweetResponseList">
      <soap:operation soapAction="urn:getTweetResponseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTweetList">
      <soap:operation soapAction="urn:getTweetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMsg">
      <soap:operation soapAction="urn:sendMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeline">
      <soap:operation soapAction="urn:getTimeline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscribeUserList">
      <soap:operation soapAction="urn:getSubscribeUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImageToTweet">
      <soap:operation soapAction="urn:addImageToTweet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterWSSoap12Binding" type="ns:TwitterWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTweetResponseList">
      <soap12:operation soapAction="urn:getTweetResponseList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTweetList">
      <soap12:operation soapAction="urn:getTweetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMsg">
      <soap12:operation soapAction="urn:sendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeline">
      <soap12:operation soapAction="urn:getTimeline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscribeUserList">
      <soap12:operation soapAction="urn:getSubscribeUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImageToTweet">
      <soap12:operation soapAction="urn:addImageToTweet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterWSHttpBinding" type="ns:TwitterWSPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getTweetResponseList">
      <http:operation location="getTweetResponseList" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTweetList">
      <http:operation location="getTweetList" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMsg">
      <http:operation location="sendMsg" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeline">
      <http:operation location="getTimeline" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscribeUserList">
      <http:operation location="getSubscribeUserList" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImageToTweet">
      <http:operation location="addImageToTweet" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterWS">
    <wsdl:port name="TwitterWSHttpSoap11Endpoint" binding="ns:TwitterWSSoap11Binding">
      <soap:address location="http://192.168.112.133:8080/axis2/services/TwitterWS.TwitterWSHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TwitterWSHttpSoap12Endpoint" binding="ns:TwitterWSSoap12Binding">
      <soap12:address location="http://192.168.112.133:8080/axis2/services/TwitterWS.TwitterWSHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TwitterWSHttpEndpoint" binding="ns:TwitterWSHttpBinding">
      <http:address location="http://192.168.112.133:8080/axis2/services/TwitterWS.TwitterWSHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>